<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="spring_mvc_try3">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="spring_mvc_try3"/>
        <property name="java-output-path" value="/spring_mvc_try3/build/classes"/>
    </wb-module>
</project-modules>
